<div class="container">
    <br>
    <br>
    <br>
    <h2 align="center">Select a template</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="/resume-maker/1">
                <img class="img-fluid" src="/img/2.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="/resume-maker/2">
                <img class="img-fluid" src="/img/1.png" alt="">
            </a>
        </div>
    </div>
</div>

<style>
    body {
    background-color: blue
}

.container-m {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.u-color {
    color: blue
}

.user-image img {
    border: 3px solid #00f;
    padding: 2px
}
</style>
<br>
<h3 align="center" style="color: blue;">Our Customers Reviews and Feedback</h3>
<div class="container-m">
    <div class="row">
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>"As someone who isn't tech-savvy, I was pleasantly surprised by how user-friendly this website is. I was able to create a polished resume in no time, and the PDF download feature was a game-changer. Thank you for making the resume-building process hassle-free!" </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>"I've tried multiple resume-building platforms, but this one stands out from the rest. The templates offered a modern and professional look, and the customization options were extensive. The ability to download the resume as a PDF made it easy to share with potential employers. I'm impressed!" </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>"I've used this website to create multiple resumes for different job applications, and it has never let me down. The interface is intuitive, and the templates are visually appealing. The PDF download option ensures that my resume looks great across all devices. Highly recommended for anyone looking to create a standout resume!"</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
